/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
atmodrive-e3195-firebase-adminsdk-8c4i3-e01b5bbf7a.json
